{% extends 'base.html' %}

{% block main %}
<div class="pageContainer">
    <div>
        {% include 'components/navbar.html' %}
        <!-- dummy button to open up the sign in pop up -->
        <button id="signInButton" onclick="openForm()">Sign in</button>

        <!-- Sign in form -->
        <div class="signInContainer">
            <div class="backButton"><i class="material-icons">arrow_back_ios</i></div>
            <div class="signInForm">
                <h2>Welcome back!</h2>
                <div class="formElement">
                    <label for="username">Username (Unikey)</label>
                    <input type="text" placeholder="Your unikey" id="username" required>
                </div>
                <div class="formElement">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Your password" id="password" required>
                </div>
                <div class="formElement">
                    <button type="submit" class="btn">SIGN IN</button>
                </div>
                <p>
                    <a href="#">Forgot password?</a>
                    <a href="#" class="register">Register Now</a>
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}