.headerClass {
    display: block;
    top: 0;
    left: 0;
    background: #F0EEEE;
    height: 9%;
    min-height: 60px;
    max-height: 110px;
    width: 100%;
    padding: 10px;

    &img {
        height: 100px;
    }
}

