<div class="navbarContainer">
    <div class="userDetails">
        <a hx-get="{% url 'hx_index' %}" hx-target=".pageContentsContainer" hx-swap="innerHTML" class="title">LOGO</a>
    </div>
    <div class="navbarButtons">
        <!-- <button class="button" onclick="location.href=`{% url 'timetable' %}`"> -->
        <!--     <i class="material-icons">calendar_month</i>&nbsp;&nbsp; -->
        <!--     My Timetable -->
        <!-- </button> -->
        <button class="button" hx-get="{% url 'degree_plan' %}" hx-target=".pageContentsContainer" hx-swap="innerHTML">
            <i class="material-icons">edit_calendar</i>&nbsp;&nbsp;
            Degree Plan
        </button>
        <!-- <hr class="solid" /> -->
        <button class="button" hx-get="{% url 'unit_search' %}" hx-target=".pageContentsContainer" hx-swap="innerHTML">
            <i class="material-icons">auto_stories</i>&nbsp;&nbsp;
            Units
        </button>
        <!-- <button class="button" onclick="location.href=`{% url 'about_us' %}`"> -->
        <!--     <i class="material-icons">auto_stories</i>&nbsp;&nbsp; -->
        <!--     About us -->
        <!-- </button> -->
        <!-- <button class="button" onclick="location.href=`{% url 'friends' %}`"> -->
        <!--     <i class="material-icons">auto_stories</i>&nbsp;&nbsp; -->
        <!--     Friends -->
        <!-- </button> -->
    </div>
    <div class="userButton">
        <div class="mainButton" id="scrollBot">
            <!--  content -->
            <div class="hiddenButtons">
                <button class="button" onclick="location.href=`{% url 'unit_search' %}`">
                    <i class="material-icons">auto_stories</i>&nbsp;&nbsp;
                    Settings
                </button>
                <button class="button" onclick="location.href=`{% url 'about_us' %}`">
                    <i class="material-icons">auto_stories</i>&nbsp;&nbsp;
                    Sign In
                </button>
                <button class="button" onclick="location.href=`{% url 'friends' %}`">
                    <i class="material-icons">auto_stories</i>&nbsp;&nbsp;
                    Register
                </button>
                <hr class="solid" />
            </div>
            <!--          -->
            <div class="buttonColumn" id="anchor">
                <i class="material-icons">account_circle</i>&nbsp;&nbsp;
                <div class="buttonRow">
                    Guest User <br />
                    <small>or Sign in here.</small>
                </div> <br />
            </div>
        </div>
    </div>
</div>
