<div class="navbarContainer">
    <div class="userDetails">
        <p class="title">John Doe</p>
        <p>jdoe1234@uni.sydney.edu.au</p>
    </div>
    <div class="navbarButtons">
        <button class="button" type="button">
            <i class="material-icons">calendar_month</i>&nbsp;&nbsp;
            <a href="{% url 'timetable' %}">My Timetable</a>
        </button>
        <button class="button" type="button">
            <i class="material-icons">edit_calendar</i>&nbsp;&nbsp;
            <a href="{% url 'degree_plan' %}">Degree Plan</a>
        </button>
        <hr class="solid">
        <button class="button">
            <i class="material-icons">auto_stories</i>&nbsp;&nbsp;
            <a href="{% url 'unit_search' %}">Units</a>
        </button>
    </div>
</div>
