<div class="unitSearchContent">
    <h2> Find a unit outline </h2>
    <p> Unit outlines help you plan your unit choices, organise your studies and assessments, and provide evidence of the topics you have studied. Unit outlines will be available 2 weeks before the first day of teaching. </p>
    <input type="text" name="unit_search" value="Search a unit name, code, or keyword">

    <h3>What is a unit outline?</h3>
    <p>Unit outlines are a key source of information to help you understand what you will study, how you will learn and the way in which you’ll be assessed in a particular unit of study.
The information in the outline can be used to help you plan your unit choices, organise your studies, apply for special consideration, set up academic plans and provide evidence of the topics you have studied.

In each outline you can find the following information:

    Assessments
    Including the topic, type, title, weighting and due date(s).
    Weekly schedule
    A weekly breakdown of learning activities and topics.
    Enrolment rules
    Such as pre-requisites that must be met before you can enrol.
    Teaching staff
    Contact information for your unit coordinator, lecturers, tutors and faculty contact(s).
    Learning outcomes
    What you will be able to do and understand at the completion of the unit. Learning outcomes are linked to graduate qualities.
    Unit information
    Including prescribed readings and additional costs alongside academic integrity, special consideration and work health and safety information.

You can find further information about available units and courses at Sydney University through Sydney Courses or view our Online Handbooks.</p>

    <h3>Related Links</h3>



</div>
