<div class="degreeRequirements">
    <div class="degreeProgress">
        <label id="degreePercentage" onclick="updateProgressBar(12, 100)">0% planned</label>
        <label id="completedCredits">0/0cp</label>
        <br/>
    </div>
    <progress value="0" max="100"></progress>

    <div class="creditRequirements">
        <div class="degreeRequirement">
            <label>Degree core</label>
            <label>0/96</label>
        </div>
        <div class="degreeRequirement">
            <label>Major 1</label>
            <label>0/48</label>
        </div>
        <div class="degreeRequirement">
            <label>Major 2</label>
            <label>0/48</label>
        </div>
        <div class="degreeRequirement">
            <label>Degree requirement</label>
            <label>0/0</label>
        </div>
    </div>
</div>

<script>
function updateProgressBar(credits, totalCredits) {
    var credits = credits;
    var totalCredits = totalCredits;
    document.getElementsByTagName("PROGRESS")[0].setAttribute("value", credits / totalCredits * 100);
    document.getElementById("degreePercentage").innerHTML = credits / totalCredits * 100 + "% planned";
    document.getElementById("completedCredits").innerHTML = credits + "/" + totalCredits + "cp";
}
</script>

