// Variables
$base-color: #c6538c;
$usyd_orange: #dd432be6;

// * {
//     padding: 0;
//     margin: 0;
// }

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

hr {
    width: 100%;
    color: black;
    margin: 20px 0;
}

/* default button beahviour*/
button {
    /* no ugly borders */
    /* flat buttons */
    border: transparent;
    /* rounded borders by default; TODO change to more relative value */
    border-radius: 5px;
}

.pageContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
}

.pageContentsContainer {
    grid-column: 2;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
}

.pageHeader, .pageContentsContainer h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.pageContentsContainer h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.pageContentsContainer > div {
    width: 800px;
    grid-column: 2;
}

@import "unit_search", "navbar", "signin", "register", "index";
