// Variables
$base-color: #c6538c;
$usyd_orange: #dd432be6;

// * {
//     padding: 0;
//     margin: 0;
// }


h2 {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-weight: 500;
    font-size: 35px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* default button beahviour*/
button {
    /* no ugly borders */
    /* flat buttons */
    border: transparent;
    /* rounded borders by default; TODO change to more relative value */
    border-radius: 5px;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.pageContentsContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

<<<<<<< HEAD:static/scss/global.scss
@import "navbar";
@import "unit_search";
=======
@import "navbar", "signin", "register";
>>>>>>> major-Navbar:unitrack/static/global/scss/global.scss
